<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>

 <nav class="navbar  navbar-expand-lg fixed-top navbar-dark bg-transparent" id="mainNav">
      <div class="container-fluid nav-brand">
        <button class="navbar-toggler  ml-auto " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto nav-text" id="navbarTogglerDemo02">
          <lu class="navbar-nav ml-auto ">
            <li class="nav-item ml-auto">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ml-auto">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item ml-auto">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </lu>
        </div>
      </div>
    </nav>

