{% include "navbar-post.html" %}



      <div class="row">
        <div class="col-lg-4 post-image-div">
          <img src ="{{post['image']}} " class="post-image" >
        </div>
        <div class="col-lg-4">
          <p class="post-name">Literaturgesellschaft FEU</p>
           <h1 class="h1-post-body">{{post.title}}</h1>
          <h2 class="h2-post-body">{{post.subtitle}}</h2>
           <p>
            {{post.body}}
           </p>
            <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.</p>
            <p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.</p>
        </div>
          <div class="col-lg-4">
        <div>
        </div>
        </div>
      </div>



<footer>
    <p>© {{year}} build by Melina Dändliker</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>
